version: 2 # use CircleCI 2.0
jobs:
  build:
    docker:
      - image: circleci/node:10.16.3
      
    environment:
      GIT_COMMIT_DESC: git log --format=oneline -n 1 $CIRCLE_SHA1

    steps:
      - checkout # special step to check out source code to working directory 

      - run:
          name: Echo GITHUB_PERSONAL_TOKEN
          command: echo ${GITHUB_PERSONAL_TOKEN} # replace with `yarn install` if using yarn

      - restore_cache: # special step to restore the dependency cache
          # Read about caching dependencies: https://circleci.com/docs/2.0/caching/
          keys: 
            - v1-repo-{{ checksum "package-lock.json" }}

      - run:
          name: Install dependencies with NPM
          command: npm install # replace with `yarn install` if using yarn

      - save_cache: # special step to save the dependency cache
          key: v1-repo-{{ checksum "package-lock.json" }}
          paths:
            - "node_modules"

      - run:
          name: Run tests
          # Runs jest with "--maxWorkers=2" argument to avoid OOM issues
          command: npm test # replace with `yarn test` if using yarn

      - run:
          name: Run build
          # Runs jest with "--maxWorkers=2" argument to avoid OOM issues
          command: npm run build # replace with `yarn test` if using yarn

      - run:
          name: Trigger project deployment
          command: |
            git clone --depth 1 https://${GITHUB_PERSONAL_TOKEN}@github.com/FinbertMDS/test-circleci2.git
            cp -r build/* test-circleci2/docs
            cd test-circleci2
            git add -A
            git config credential.helper 'cache --timeout=120'
            git config user.email "ngovanhuy.cntt2@gmail.com"
            git config user.name "Deployment Bot"
            git commit --allow-empty -m ${GIT_COMMIT_DESC}
            # Push quietly to prevent showing the token in log
            git push -q https://${GITHUB_PERSONAL_TOKEN}@github.com/FinbertMDS/test-circleci2.git master

      - store_artifacts: 
          path: test-results

      - store_test_results:
          path: test-results

workflows:
  version: 2
  Build and Test:
    jobs:
      - build
